/* Navbar__container */

.Header__container {
	padding: 10px 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background: #091f37;
	color: #ffffff;
}

.Header__title-span {
	font-weight: bolder;
	color: #ffbd39;
}

h4 {
	margin: 0;
	color: #ffffff;
}
a {
	text-decoration: none;
}

.Header__logo {
	width: 24px;
	height: 24px;
}

.links {
	display: flex;
	flex-direction: row;

	align-items: center;
}

.links h4 {
	margin: 0 15px;
}

.links h4:hover {
	color: #ffbd39;
	transition: 0.4s ease;
	cursor: pointer;
}

@media screen and (max-width: 376px) {
	.Header__container {
		flex-direction: column;
		justify-content: end;
	}

	.Header__title {
		margin: 20px 0;
	}

	.links {
		flex-direction: column;
	}

	.links h4 {
		margin: 5px;
	}

	.Header__button {
		margin: 20px 0;
	}
}
