.Header__button {
	width: 153px;
	height: 40px;
	background-color: #ffbd39;
	border-style: none;
	font-weight: bold;
	border-radius: 5px;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000000;
}

.links button:hover {
	opacity: 0.8;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	animation: pulse;
	animation-duration: 2s;
}
