.Footer__container {
	position: fixed;
	width: 100%;
	height: 40px;
	text-align: center;
	display: flex;
	bottom: 20px;
	justify-content: center;
}

.Footer__container p {
	width: 100px;
	height: 32px;
}

a:hover {
	color: #091f37;
	transform: translateY(-4px);
	transition: 2s ease;
}

.Footer__legend {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;

	color: #000000;
}
