.Footer__container {
	position: absolute;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	bottom: 0;
}

.Footer__container p {
	text-align: center;
	width: 100%;
	height: auto;
}

.Footer__legend {
	font-size: 12px;
	line-height: 14px;
	color: #161616;
}
